---
layout: landing
title: Chris Barnes
---

<div id="spells" class="pattern card-group">

  <div v-if="loading">Loading...</div>

  <Card v-for="spell in spells" :spell="spell" :key="spell.index"/>

</div>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<script type="text/javascript">

  Vue.component('card', {
    delimiters: ["((", "))"],
    data () {
      return {
        spellInfo: {
          range: null
        },
        loading: true,
        errored: false
      }
    },
    props: {
      spell: {
        type: Object
      }
    },
    computed: {
      damageType: function () {
        if(this.spellInfo && this.spellInfo.damage) {
          return this.spellInfo.damage.damage_type.index + " dark"
        }
        return ""
      },
      contentLength: function (){
        if(this.spellInfo && this.spellInfo.desc) {
          if(this.spellInfo.desc.length > 4) return "card--mega"
        }
        return "card--large"
      }
    },
    mounted () {
      axios
        .get('https://www.dnd5eapi.co' + this.spell.url)
        .then(response => {
          this.spellInfo = response.data
        })
        .catch(error => {
          console.log(error)
          this.errored = true
        })
        .finally(() => this.loading = false)
    },
    template: `
      <div class="card card--large" v-bind:class="damageType">
        <div class="card--content">
          <p class="label info"><span v-if="spellInfo.range">((spellInfo.range))</span> - (<span v-if="spellInfo.duration">((spellInfo.duration))</span>) - lvl <span v-if="spellInfo.level">((spellInfo.level))</span></p>
          <p class="hed" v-if="spellInfo.name">((spellInfo.name))</p>
          <p class="label material" v-if="spellInfo.material">((spellInfo.material))</p>
          <div class="description">
            <p v-if="spellInfo.desc" v-for="paragraph in spellInfo.desc">((paragraph))</p>
          </div>
          <p v-if="spellInfo.damage">
            <span class="damage" v-for="(key, value) in spellInfo.damage.damage_at_character_level">((key)) <sup> lvl ((value)) </sup> </span>
          </p>
          <p v-if="spellInfo.damage">((spellInfo.damage.damage_type.name))</p>
        </div>
        </div>
      </div>
    `
  })

  new Vue({
    el: '#spells',
    delimiters: ["((", "))"],
    data () {
      return {
        spells: null,
        loading: true,
        errored: false
      }
    },
    mounted () {
      axios
        .get('https://www.dnd5eapi.co/api/spells?level=0,1')
        .then(response => {
          this.spells = response.data.results
        })
        .catch(error => {
          console.log(error)
          this.errored = true
        })
        .finally(() => this.loading = false)
    }
  })

</script>

<style>
  .container {
    max-width: unset;
    background-color: rgba(14,14,14,1);
    background-image: url('/assets/img/skull.png');
    background-attachment: fixed;
    background-position: center center;
    background-size: 5rem;
  }

  #spells {
  }

  .card{
    border-radius: 2rem;
    background-size: cover;
    background-position: center;
    border: 1rem solid black;
  }

  .card .label.info {
    margin-top: 1rem;
  }

  .card.fire {
    background-image: url('/assets/img/fire.jpg');
    background-color: red;
    border: 1rem solid red;
  }

  .card.fire .card--content {
    background-color: rgba(257,0,0,0.85);
  }

  .card.cold {
    background-image: url('/assets/img/cold.jpg');
    background-color: blue;
    border: 1rem solid blue;
  }

  .card.cold .card--content {
    background-color: rgba(0,0,200,0.7);
  }

  .card.force {
    background-image: url('/assets/img/force.png');
    background-color: black;
    border: 1rem solid black;
  }

  .card.force .card--content {
    background-color: rgba(0,0,0,0.7);
  }

  .card .hed {
    font-family: 'Roboto Slab', serif;
    margin-bottom: 0;
  }

  .card .description {
    max-height: 40rem;
    overflow-y: scroll;
  }

  .card .damage {
    padding-right: 2rem;
  }

  .card p {
    font-size: 1.6rem;
    line-height: 1.4;
    color: grey;
  }

  @media (max-width: 800px) {
    .container {
      padding: 1rem;
    }

    .card--content {
      padding: 1.6rem 2rem 2rem;
    }
  }

</style>
