---
layout: landing
title: Chris Barnes
---

<div id="spells" class="pattern card-group">

  <div v-if="loading">Loading...</div>

  <Card v-for="spell in spells" :spell="spell" :key="spell.index"/>

</div>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<script type="text/javascript">

  Vue.component('card', {
    delimiters: ["((", "))"],
    data () {
      return {
        spellInfo: {
          range: null
        },
        loading: true,
        errored: false
      }
    },
    props: {
      spell: {
        type: Object
      }
    },
    mounted () {
      axios
        .get('https://www.dnd5eapi.co' + this.spell.url)
        .then(response => {
          this.spellInfo = response.data
        })
        .catch(error => {
          console.log(error)
          this.errored = true
        })
        .finally(() => this.loading = false)
    },
    template: `
      <div class="card card--large">
        <div class="card--content">
        <p class="label"><span v-if="spellInfo.range">((spellInfo.range))</span> - (<span v-if="spellInfo.duration">((spellInfo.duration))</span>) - level <span v-if="spellInfo.level">((spellInfo.level))</span></p>
        <p class="hed">((spell.name))</p>
        <p class="label material" v-if="spellInfo.material">((spellInfo.material))</p>
        <p class="description" v-if="spellInfo.desc">((spellInfo.desc))</p>
        <p v-if="spellInfo.damage">((spellInfo.damage.damage_at_character_level))</p>
        </div>
      </div>
    `
  })

  new Vue({
    el: '#spells',
    delimiters: ["((", "))"],
    data () {
      return {
        spells: null,
        loading: true,
        errored: false
      }
    },
    mounted () {
      axios
        .get('https://www.dnd5eapi.co/api/spells?level=0,1')
        .then(response => {
          this.spells = response.data.results
        })
        .catch(error => {
          console.log(error)
          this.errored = true
        })
        .finally(() => this.loading = false)
    }
  })

</script>

<style>
  .container {
    max-width: unset;
  }

  .card .hed {
    font-family: 'Roboto Slab', serif;
    margin-bottom: 0;
  }

  .card .description {
    max-height: 40rem;
    overflow-y: scroll;
  }

  .card p {
    font-size: 1.6rem;
    line-height: 1.4;
    color: grey;
  }
</style>
