---
layout: landing
title: Chris Barnes
---

<div id="spells" class="pattern card-group">

  <div v-if="loading">Loading...</div>

  <Card v-for="spell in spells" :spell="spell" :key="level"/>

</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<script type="text/javascript">

  Vue.component('card', {
    delimiters: ["((", "))"],
    data () {
      return {
        spellInfo: null,
        loading: true,
        errored: false
      }
    },
    computed: {
      level: function () {
        return this.spellInfo.level
      }
    },
    props: {
      spell: {
        type: Object
      }
    },
    mounted () {
      axios
        .get('https://www.dnd5eapi.co' + this.spell.url)
        .then(response => {
          console.log(response.data)
          this.spellInfo = response.data
        })
        .catch(error => {
          console.log(error)
          this.errored = true
        })
        .finally(() => this.loading = false)
    },
    template: `
      <div class="card card--large">
        <div class="card--content">
          <p class="label"><span v-if="spellInfo.range">((spellInfo.range))</span> - ((spellInfo.duration))</p>
          <p class="hed">((spell.name)) - ((spellInfo.level))</p>
          <p class="label">((spellInfo.material))</p>
          <p>((spellInfo.desc))</p>
          <p v-if="spellInfo.damage">((spellInfo.damage.damage_at_character_level))</p>
        </div>
      </div>
    `
  })

  new Vue({
    el: '#spells',
    delimiters: ["((", "))"],
    data () {
      return {
        spells: null,
        loading: true,
        errored: false
      }
    },
    mounted () {
      axios
        .get('https://www.dnd5eapi.co/api/spells?level=0,1')
        .then(response => {
          this.spells = response.data.results
        })
        .catch(error => {
          console.log(error)
          this.errored = true
        })
        .finally(() => this.loading = false)
    }
  })

</script>
