---
---

@import "variables";

p {
  font-family: Helvetica, sans-serif;
}

.hed {
  font-family: Georgia, serif;
  letter-spacing: 0;
}

.back-btn {
  position: fixed;
  font-family: Handsy;
  font-size: 5em;
  line-height: 1em;
  left: 0px;
  bottom: 0px;
  min-width: 60px;
  text-align: center;

  @media (min-width: 800px) {
      font-size: 5em;
      top: 60px;
  }
}
