---

---

// start content

$blue: rgb(43, 162, 221);

$small-screen: 800px;

@font-face {
    font-family: Fatty;
    src: url("/assets/fonts/Fatty.otf") format("opentype");
}

@font-face {
    font-family: Handsy;
    src: url("/assets/fonts/Handsy.otf") format("opentype");
}

body {
  margin: 0;
  padding: 0;
  font-family: Handsy, Helvetica, sans-serif;
  font-weight: bold;

  @media (min-width: $small-screen) {
    margin: 60px;
  }

  &.black, &.navy{
    a, p, h1 {
      color: white;
    }
  }

  &.black{
    background: black;
  }

  &.navy{
    background: #131B22;
  }
}

#container {
  justify-content: space-around;
  z-index: 1;
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: $small-screen) {
    text-align: left;
  }

  margin-top: 60px;

  &.page{
    margin: 30px;

    h1{
      text-align: center;
    }

    p {
      font-size: 1.5em;
    }

    ul{
      font-size: 1.25em;
      line-height: 1.25em;
      max-width: 100%;

      li{
        margin-bottom: 0.5em;
      }
    }
  }

  &.post{
    margin-top: 0;

    h1{
      text-align: center;
    }

    p{
      text-align: center;
      margin: 80px 0 80px;

      @media (min-width: $small-screen) {
        margin: 160px 0 160px;
      }
    }
  }
}

#canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index:  0;
}

h1, h2, h3, h4, h5, ul{
  font-weight: bold;
  margin-bottom: 0;
  color: black;
}

h1 {
  font-family: Fatty;
  background: none;
  font-size: 3em;
  margin: 0;

  @media (min-width: $small-screen) {
    font-size: 5em;
  }
}

h2 {
  font-size: 2.5em;
  margin-bottom: 0;
  font-family: Handsy;
}

h3 {
  font-size: 1.5em;
  margin-top: 30px;
  margin-bottom: 15px;
}

ul {
  margin:0;
  font-weight: normal;
  text-decoration: none;
  list-style: none;
  padding: 0;
  line-height: 1.75em;
  font-size: 1.25em;
  color: black;
  text-transform: uppercase;
  margin: 15px 0 45px;

  @media (min-width: $small-screen) {
    column-count: 3;
    max-width: 750px;
  }

  li{
    font-weight: bold;
    p{
      font-size: inherit;
      padding: 0;
      margin: 0;
    }
    i {
      font-size: 0.6em;
      display: none;
    }
  }
}

a{
  color: black;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    color: $blue;
  }
}

.logo{
  width: auto;
}

img {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
}

p {
  font-size: 1.5em;
  flex: 0 0 100%;
  color: $blue;
  line-height: 1.5em;
  margin: 0 20px auto;

  @media (min-width: $small-screen) {
    font-size: 2em;
    margin: auto;
  }
}

.back-btn {
  position: fixed;
  text-align: left;

  font-size: 3em;
  left: 30px;
  top: 30px;

  @media (min-width: $small-screen) {
      font-size: 5em;
      left: 60px;
      top: 60px;
  }
}

blockquote {
  margin: 30px;

  @media (min-width: $small-screen) {
    max-width: 650px;
    margin: 0 auto;
  }
}

.mainTitle {
  font-size: 3em;
}
