---

---

// start content

$blue: rgb(43, 162, 221);

$small-screen: 800px;

@font-face {
    font-family: Fatty;
    src: url("/assets/fonts/Fatty.otf") format("opentype");
}

@font-face {
    font-family: Handsy;
    src: url("/assets/fonts/Handsy.otf") format("opentype");
}

body {
  margin: 0;
  padding: 0;
  font-family: Handsy, Helvetica, sans-serif;
  font-weight: bold;

  @media (min-width: $small-screen) {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  &.black, &.navy{
    a, p, h1 {
      color: white;
    }
  }

  &.black{
    background: black;
  }

  &.navy{
    background: #131B22;
  }
}

#container {
  justify-content: space-around;
  z-index: 1;
  position: relative;
  max-width: 1200px;
  margin: 0;
  text-align: center;
  margin-top: 60px;

  @media (min-width: $small-screen) {
    text-align: left;
    margin: 60px;
  }

  &.page{
  font-family: Menlo;

    h1{
      text-align: center;
    }

    h2 {
      margin-top: 30px;
    }

    h3 {
      font-size: 1.25em;
    }

    h4 {
      margin-top: 20px;
    }

    h5{
      margin:10px 0;
    }

    blockquote {
      text-align: center;
      color: black;
      // font-family: Handsy;
      p{
        a{
          font-weight: normal;
        }
      }
    }

    p {
      font-size: 1.1em;
      color: black;
      margin-bottom: 30px;
      font-weight: normal;
      line-height: 1.75em;
    }

    ul{
      font-size: 1.1em;
      line-height: 1.5em;
      max-width: 100%;
      column-gap: 3em;
      font-weight: normal;
      text-transform:none;

      li{
        font-weight: normal;
        margin-bottom: 1em;
        line-height: 1.5em;
      }
    }
  }

  &.post{
    @media (min-width: 1400px) {
      margin: 60px auto;
    }

    h1{
      text-align: center;
    }

    p{
      text-align: center;
      margin: 80px 0 80px;

      @media (min-width: $small-screen) {
        margin: 160px 0 160px;
      }
    }
  }
}

#footer{
  position: relative;
  z-index: 1;
  margin: auto auto 0 auto;

  p{
    font-size: 1em;
    color: black;
    text-align: center;
    margin: 60px 0;
    width: 100%;

    a {
      color: $blue;
    }
  }

}

#canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index:  0;
}

h1, h2, h3, h4, h5, ul{
  font-weight: bold;
  margin-bottom: 0;
  color: black;
}

h1 {
  font-family: Handsy;
  background: none;
  font-size: 2.75em;
  margin: 60px 45px 45px;
  text-transform: uppercase;

  @media (min-width: $small-screen) {
    margin: 0 0 45px;
    font-size: 3.5em;
  }
}

h2 {
  font-size: 2.5em;
  margin: 0 15px 15px 15px;
  line-height: 0.75em;
  font-family: Handsy;
  @media (min-width: $small-screen) {
    margin: 0 15px 15px 0;
  }
}

h3 {
  font-size: 1.5em;
  margin: 0 30px;

  @media (min-width: $small-screen) {
    margin: 0;
  }
}

ul {
  font-weight: normal;
  text-decoration: none;
  list-style: none;
  padding: 0;
  line-height: 2em;
  font-size: 1.25em;
  color: black;
  text-transform: uppercase;
  margin: 0 0 45px;

  @media (min-width: $small-screen) {
    column-count: 3;
    max-width: 750px;
  }

  li{
    font-weight: bold;
    p{
      font-size: inherit;
      padding: 0;
      margin: 0;
    }
    i {
      font-size: 0.6em;
      display: none;
    }
  }
}

a{
  color: black;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    color: $blue;
  }
}

.logo{
  width: auto;
  margin-left: 0
}

img {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
}

p {
  font-size: 1.5em;
  flex: 0 0 100%;
  // color: $blue;
  line-height: 1.5em;
  margin: 0 20px auto;

  @media (min-width: $small-screen) {
    font-size: 2em;
    margin: 0 auto 30px;
  }
}

.back-btn {
  position: fixed;
  font-family: Handsy;
  font-size: 5em;
  line-height: 1em;
  left: 0px;
  bottom: 0px;
  min-width: 60px;
  text-align: center;

  @media (min-width: $small-screen) {
      font-size: 5em;
      top: 60px;
  }
}

blockquote {
  margin: 30px;

  @media (min-width: $small-screen) {
    max-width: 650px;
    margin: 0 auto;
  }
}

.mainTitle {
  font-size: 3em;
}
