<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://ghost.ship.computer/assets/css/main.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
  </head>

  <body class="{{page.color}}">

    <div class="container">
      <a class="back-btn" href="/"><</a>

      {{ content }}

    </div>

    <canvas id="canvas"></canvas>

    {% include analytics.html %}
  </body>

</html>
